body{
margin: 0;
padding: 0;
background: #F5EEE6;
}

.navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    background-color: #F5EEE6;
    padding: 0% 5%;
    box-sizing: border-box;
}

.inline-block{
    display: flex;
    vertical-align: top;
    box-sizing: border-box;
    width: 50%;
    justify-content: right;
}

.hamburger{
    display: none;
}

.logo{
    height: 75px;
    width: auto;
    padding-right: 5%;
}


nav li{
    font-family: 'Lexend', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #362F2E;
    overflow: hidden;
}

ul{
    display: inline-flex;
    vertical-align: top;
    overflow: hidden;
    padding: 0;
    width: 100%;
    height: 30px;
    justify-content: space-between;
    float: right;
 }

li{
    display: inline-block;
    list-style-type: none;
    overflow: hidden;
}

.content{
    display: flex;
    flex-direction: row-reverse;
    gap: 5%;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 100%;
    top: 120px;
    padding: 0% 7%;
    box-sizing: border-box;
    background-color: #DE93C0;
    overflow: hidden;
}

.intro{
    width: 765px;
    position: relative;
}

.intro h1{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 64px;
    font-weight: 800;
    margin: 0;
    padding-bottom: 30px;
    color: #F5EEE6;
}

.intro p{
    font-family: 'Lexend', sans-serif;
    font-style: normal;
    font-size: 35px;
    font-weight: 300;
    text-align: justify;
    margin: 0;
    color: #5053A4;
}

.selfie img{
    width: 450px;
    border-radius: 250px 250px 25px 25px;
    position: relative;
}

.tabs{
    overflow: hidden;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
} 

.myWork h1{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 48px;
    font-weight: 800;
    margin: 0;
    padding-top: 120px;
    padding-bottom: 30px;
    color: #5053A4;
    text-align: center;
}

.btn-box{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.switchContainer{
    position: absolute;
    outline: 3px solid #DE93C0;
    height: 60px;
    width: 220px;
    border-radius: 30px;
    z-index: 1;
}

.switch{
    position: relative;
    background-color: #DE93C0;
    width: 120px;
    height: 60px;
    border-radius: 30px;
    left: -1px;
    transition: transform 0.5s ease;
}

.btn-box button{
    background: transparent;
    border: none;
    outline: 0px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    font-weight: 700;
    padding: 0;
    z-index: 2;
}

.uxWork{
    width: 50%;
    margin-right: 30px;

}

.grdWork{
    width: 50%;
    
}

#btn1{
    color: #F5EEE6;
}

#btn2{
    color:#5053A4;
}

.work{
    height: 1000px;
    width: 100%;
}

.work .projectContent{
    position: absolute;
    transform: translateX(200%);
    width: 100%;
    transition: 0.6ms;
}

#content1{
    transform: translateX(0px);
}

.work .grdContent{
    position: absolute;
    transform: translateX(200%);
    width: 100%;
    transition: 0.6ms;
}

.workGrid{
    display: grid;
    grid-template-columns: repeat(12, 100px);
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    width: 100%;
    grid-gap: 20px;
    padding: 60px 7% 0px;
    box-sizing: border-box;
}

.caseStudy1{
    grid-area: 1 / 2 / span 1 / span 6;
}

.caseStudy1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.caseStudy2{
    grid-area: 1 / 8 / span 1 / span 4;
}

.caseStudy2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.caseStudy3{
    grid-area: 2 / 2 / span 1 / span 5;
}

.caseStudy3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.caseStudy4{
    grid-area: 2 / 7 / span 1 / span 5;
}

.caseStudy4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grd1{
    grid-area: 1 / 2 / span 1 / span 3;
}

.grd1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grd2{
    grid-area: 1 / 5 / span 1 / span 7;
}

.grd2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grd3{
    grid-area: 2 / 2 / span 1 / span 7;
}

.grd3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grd4{
    grid-area: 2 / 9 /span 1 / span 3;
}

.grd4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mySkills{
    margin-bottom: 120px;
}

.mySkills h1{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 48px;
    font-weight: 800;
    margin: 0;
    padding: 120px 0px 30px;
    color: #F36D36;
    text-align: center;
}

.aboutMe{
    display: flex;
    justify-content: center;
    align-items: center;
}

.itMe{
   position: relative; 
}

.itMe .selfie{
    width: 375px;
    height: 450px;
    border-radius: 225px;
    object-fit: cover;
    position: relative;
}
.itMe .learnMore{
    position: absolute;
    top: -15px;
    left: -30px;
}

.description{
    width: 650px;
    margin-left: 7%;
    font-family: 'Lexend', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #362F2E;
    text-align: justify;
    line-height: 30px;
}

.description p{ 
    margin-bottom: 5%;
}

.contactMe{
    background-color: #5053A4;
    width: 100%;
    padding: 120px 7%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.hitMeup{
    width: 690px;
}

.hitMeup p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #F5EEE6;
    display: flex;
    align-items: center;
    gap: 30px;
    padding-bottom: 30px;
}

.contactTitle{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    text-align: center;
    padding-bottom: 5%;
}

.contactTitle .touch{
    font-size: 64px;
    color: #DE93C0;
    margin: 0;
}

.contactTitle .hello{
    font-size: 40px;
    color: #F5EEE6;
    margin: 0px;
}

.contactInfo{
   display: flex;
   align-items: left;
   flex-direction: column;
   justify-content: center;
   width: 100%;
}

.contactInfo p{
    margin: 0px;
}

.contactPic img{
    width: 500px;
    height: 500px;
    object-fit: cover;
}

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    background-color: #F5EEE6;
    padding: 0% 5%;
    bottom: 0px;
    box-sizing: border-box;
}

footer li{
    padding-right: 120px;
    font-family: 'Lexend', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #5053A4;
}

footer p{
    float: right;
    font-family: 'Lexend', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #5053A4;
}

@media only screen and (max-width: 1000px) {
    .inline-block ul{
        display: none;
    }

    .hamburger{
        display: block;
        height: 60px;
        width: auto;
    }
    
    .content{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-bottom: 5%;
    }
  
    .selfie img{
        width: 400px;
        height: auto;
    }

    .intro{
        width: 80%;
        align-items: center;
    }

    .intro h1{
        font-size: 36px;
        text-align: center;
    }

    .intro p{
        font-size: 20px;
        justify-content: center;
        text-align: center;
        }

    .work{
        height: 1500px;
    }

    .myWork h1{
        font-size: 36px;
    }

    .mySkills{
        flex-direction: column;
        width: 100%;
    }

    .workGrid{
        display: grid;
        row-gap: 20px;
        grid-template-columns: repeat(4, 90px);
        grid-template-rows: repeat(4, fit-content);
        width: 100%;
        padding: 60px 7% 0px;
        box-sizing: border-box;
    }

    .caseStudy1{
        grid-area: 1 / 1 / span 1 / span 4;
    }
    
    
    .caseStudy2{
        grid-area: 2 / 1 / span 1 / span 4;
    }
    
    .caseStudy3{
        grid-area: 3 / 1 / span 1 / span 4;
    }
    
    .caseStudy4{
        grid-area: 4 / 1 / span 1 / span 4;
    }
    
    .grd1{
        grid-area: 1 / 1 / span 1 / span 4;
    }
    
    
    .grd2{
        grid-area: 2 / 1 / span 1 / span 4;
    }
    
    .grd3{
        grid-area: 3 / 1 / span 1 / span 4;
    }
    
    .grd4{
        grid-area: 4 / 1 / span 1 / span 4;
    }
    
    .mySkills h1{
        font-size: 36px;
    }

    .aboutMe{
        flex-direction: column;
        justify-content: center
    }

    .description{
        font-size: 16px;
        line-height: 25px;
        width: 80%;
        margin: 0
    }

    .contactMe{
        flex-direction: column-reverse;
    }
    

    .hitMeup{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .contactTitle{
        text-align: center;
    }

    .contactTitle .touch{
        font-size: 34px;
    }

    .contactTitle .hello{
        font-size: 20px;
    }

    .contactInfo{
        width: fit-content;
        justify-content: center;
        margin: 0;
    }
    footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 60px 0px;
    }
    footer ul{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-bottom: 60px;
    }
    footer li{
        padding: 0;
        text-align: center;
    }
}

